/* --------- コーヒー --------- */
.coffee {
  position: relative;
  display: flex;
  justify-content: center;

  &_text {
    position: absolute;
    bottom: 240px;
    width: 136px;
    font-family: serif;
    color: #47443b;

    > span {
      position: absolute;
      display: block;
      font-size: 16px;
      offset-path: path("m61.498,27.295c9.366,9.437,4.071,22.205-6.929,23.205-10.006.91-19.834-7.567-19.834-23.475,0-13,12.942-24.525,31.834-24.525,18.704,0,25.174,19.976,25,32-.231,16.017-7.03,24.708-13,34-18.22,28.357-18.22,49.926-13,58");
      opacity: 0;
      animation: move-text 3.2s linear infinite, distort-text 3.2s linear infinite;
    }

    @for $i from 1 through 17 {
      > span:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }

    @keyframes move-text {
      0% {
        offset-distance: 100%;
        opacity: 0;
      }
      10%, 90% {
        opacity: 1;
      }
      100% {
        offset-distance: 0;
        opacity: 0;
      }
    }

    @keyframes distort-text {
      45% {
        transform: scaleY(1);
      }
      65% {
        transform: scaleY(1.8);
      }
      85% {
        transform: scaleY(1);
      }
      100% {
        transform: scaleY(0.5);
      }
    }
  }

  &_cup {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 136px;
    height: 100px;
    background-image: url("../images/coffee/coffee_cup.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* --------- お花 --------- */
.wrapper__flower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower {
  position: relative;
  width: 200px;
  height: 200px;

  > span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bloom 1.5s ease-out infinite;
    offset-path: path("m98.754,196.422c31.104,0,152.054-138.577,69.462-184.493-44.918-24.971-84.351,18.188-84.351,53.101,0,27.57,30.877,28.712,30.692,0-.225-34.917-42.448-84.809-87.857-52.101-75.397,54.309,44.425,183.493,72.053,183.493");

    &:nth-child(3n) {
      width: 35px;
      height: 35px;
    }

    &:nth-child(4n) {
      width: 32px;
      height: 32px;
    }

    &:nth-child(7n) {
      width: 28px;
      height: 28px;
    }
  }

  &_yellow {
    background-image: url("../images/flower/flower_yellow.png");
  }

  &_blue {
    background-image: url("../images/flower/flower_blue.png");
  }

  &_plum {
    background-image: url("../images/flower/flower_plum.png");
  }

  &_purple {
    background-image: url("../images/flower/flower_purple.png");
  }

  &_sakura01 {
    background-image: url("../images/flower/flower_sakura_01.png");
  }

  &_sakura02 {
    background-image: url("../images/flower/flower_sakura_02.png");
  }

  &_sakura03 {
    background-image: url("../images/flower/flower_sakura_03.png");
  }

  $total: 30;
  @for $i from 1 through $total {
    > span:nth-child(#{$i}) {
      offset-distance: 100% / $total * $i; // 一輪ずつずらして均等に配置
      animation-delay: $i * 0.05s; // 一輪ごとに0.05sずらしてアニメーション
    }
  }

  @keyframes bloom {
    0% {
      opacity: 0;
      transform: scale(0) rotate(-180deg);
    }
    30% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
    70% {
      opacity: 1;
      transform: scale(1) rotate(20deg);
    }
    100% {
      opacity: 0;
      transform: scale(0.5) rotate(180deg);
    }
  }
}
