@charset "UTF-8";

/* --------- コーヒー --------- */
.coffee {
  position: relative;
  display: flex;
  justify-content: center;
}

.coffee_text {
  position: absolute;
  bottom: 240px;
  width: 136px;
  font-family: serif;
  color: #47443b;

  > span {
    position: absolute;
    display: block;
    font-size: 16px;
    offset-path: path(
      "m61.498,27.295c9.366,9.437,4.071,22.205-6.929,23.205-10.006.91-19.834-7.567-19.834-23.475,0-13,12.942-24.525,31.834-24.525,18.704,0,25.174,19.976,25,32-.231,16.017-7.03,24.708-13,34-18.22,28.357-18.22,49.926-13,58"
    );
    opacity: 0;
    animation:
      move-text 3.2s linear infinite,
      distort-text 3.2s linear infinite;
    animation-delay: calc(sibling-index() * 0.1s);
  }
}

.coffee_cup {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 136px;
  height: 100px;
  background-image: url("../images/coffee/coffee_cup.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes move-text {
  0% {
    offset-distance: 100%;
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }

  100% {
    offset-distance: 0;
    opacity: 0;
  }
}

@keyframes distort-text {
  45% {
    scale: 1 1;
  }

  65% {
    scale: 1 1.8;
  }

  85% {
    scale: 1 1;
  }

  100% {
    scale: 1 0.5;
  }
}

/* --------- お花 --------- */
.wrapper__flower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower {
  position: relative;
  width: 200px;
  height: 200px;

  > span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bloom 1.5s ease-out infinite;
    animation-delay: calc(sibling-index() * 0.05s);
    offset-path: path(
      "m98.754,196.422c31.104,0,152.054-138.577,69.462-184.493-44.918-24.971-84.351,18.188-84.351,53.101,0,27.57,30.877,28.712,30.692,0-.225-34.917-42.448-84.809-87.857-52.101-75.397,54.309,44.425,183.493,72.053,183.493"
    );
    offset-distance: calc(100% * sibling-index() / sibling-count());

    &:nth-child(3n) {
      width: 35px;
      height: 35px;
    }

    &:nth-child(4n) {
      width: 32px;
      height: 32px;
    }

    &:nth-child(7n) {
      width: 28px;
      height: 28px;
    }
  }
}

.flower_yellow {
  background-image: url("../images/flower/flower_yellow.png");
}

.flower_blue {
  background-image: url("../images/flower/flower_blue.png");
}

.flower_plum {
  background-image: url("../images/flower/flower_plum.png");
}

.flower_purple {
  background-image: url("../images/flower/flower_purple.png");
}

.flower_sakura01 {
  background-image: url("../images/flower/flower_sakura_01.png");
}

.flower_sakura02 {
  background-image: url("../images/flower/flower_sakura_02.png");
}

.flower_sakura03 {
  background-image: url("../images/flower/flower_sakura_03.png");
}

@keyframes bloom {
  0% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }

  30% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  70% {
    transform: rotate(20deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0;
  }
}
